[Unit]
Description=Hyperion Archive Docker Compose Application
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/ephemeralrogue/Documents/github/hyperion-archive/[Service]
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
Restart=no
User=ephemeralrogue
Group=ephemeralrogue

[Install]
WantedBy=multi-user.target