[Unit]
Description=Hyperion Archive Docker Compose Application
Requires=docker.service
After=docker.service

[Service]
Type=exec

# systemd uses absolute paths.
# set the path to your compose.yaml and docker compose binary
WorkingDirectory= # path to compose file
ExecStart= # path to compose binary/docker-compose up -d
ExecStop= #path to compose binary/docker-compose down

# set your own restart behavior
Restart=no
User=

[Install]
WantedBy=multi-user.target